*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}
.heading-color{
    color: orange;
}
.top-section{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 220px;
    color: rgb(92, 89, 89);
    
}
.top-margin{
    margin-top: 15px;
}
.top-section h1{
    font-size: 60px;
}
.top-section p{
    font-size: 20px;
    color: rgb(167, 163, 163);
    padding-bottom: 20px;
}
.top-section img{
    border-radius: 300px;
    margin-top: 15px;
    
}
.half-width{
    width: 50%;
    padding-top: 50px;
}
.top-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
    font-weight: 400;
}
.about-me h2{
    font-size: 35px;
    padding-bottom: 20px;
    margin-top: 100px;
}
.about-me p{
    padding-bottom: 150px;
    color: rgb(167, 163, 163);
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
}
.about-img img{
    width: 75%;
    margin-top: 20px;
}
.about-section {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 200px;
    color: rgb(92, 89, 89);
    background-image: url(images/shapes/7.png);
    margin-left: -20px;
}