*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}
.heading-color{
    color: orange;
}
.top-section{
    display: flex;
    margin: 50px 100px;
    color: rgb(92, 89, 89);

}
.top-margin{
    margin-top: 15px;
}
.top-section h1{
    font-size: 60px;
}
.top-section p{
    font-size: 20px;
    color: rgb(167, 163, 163);
    padding-bottom: 20px;
}
.top-section img{
    border-radius: 300px;
    margin-top: 15px;
    
}
.half-width{
    width: 50%;
}
.top-button{
    background-color: tomato;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
}
